.header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    align-items: center;
}

.modal-imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}